---
title: tomoya-tsuji | cookpad-studio
---

.work_detail
  .article_header
    .work_main_thumbnail
      = image_tag 'cookpad_studio/cookpad_studio_article_header.jpg'
    .work_text
      %h2
        cookpad studio
      .work_desc
        UI&BI Design for cookpad studio , Nov 2017
  .article_container.wh-980
    %p.paragraph.text.pd-30
      クックパッドは2017年の12月にレシピ動画を誰でも簡単に撮影できるスタジオ、クックパッドスタジオをオープンしました。私はウェブサイトのデザイン及び実装とサービスコンセプトやスタジオ内のBIを担当しました。
    %h3 studio
    = image_tag 'cookpad_studio/studio.jpg'
    = image_tag 'cookpad_studio/1.jpg'
    = image_tag 'cookpad_studio/2.jpg'
    %h3 web site
    .image_web
      = image_tag 'cookpad_studio/3.jpg'
    %h3 CREDIT
    %p.paragraph.text
      ・Web Design&Front-end,Brand Design: tomoya tsuji
      %br
      ・Logo Design: miwa kuramitsu
    %h3 LINK
    %p.paragraph.text
      = link_to 'https://cookpad-studio.com/', 'https://cookpad-studio.com/'
