---
title: tomoya-tsuji | Corporate site for SARAH inc.
---

.work_detail
  .article_header
    .work_main_thumbnail
      = image_tag 'sarah_inc/article_header.jpg'
    .work_text
      %h2
        SARAH inc.
      .work_desc
        Corporate site Design for SARAH inc. , Sep 2017
  .article_container.wh-980
    %p.paragraph.text.pd-30
      グルメサービス「SARAH」を運営する SARAH inc.のコーポレートサイトを制作しました。
      「LIVING COMPANY」というビジョンと暖かく明るい社風がウェブサイトを通して伝わることを目標に、
      見やすく、そしてシンプルでクリーンなデザインをしました。技術面ではWordPressを採用、よく知られているCMSで構築し誰でも簡単に更新・メンテナンスができるようにしました。
    .image_web
      = image_tag 'sarah_inc/1.jpg'
      = image_tag 'sarah_inc/2.jpg'
      = image_tag 'sarah_inc/3.jpg'
    %h3 ROLE
    %p.paragraph.text
      Web Design & Development
    %h3 LINK
    %p.paragraph.text
      = link_to 'https://corporate.sarah30.com/', 'https://corporate.sarah30.com/'
