---
title: tomoya-tsuji
---

.about_container{"role" => "main"}
  .wh-980
    %p.paragraph.text.jp_text
      辻朝也 (つじ・ともや)　デザイナー
      %br
      大学でプロダクトデザイン・未来予測デザインを学び、2016年にクックパッド株式会社にUI/UXデザイナーとして入社。入社後、サービスの核となるレシピ投稿関連の画面設計や開発を行う。翌年機械学習を使った料理判定機能「
      = link_to '料理きろく', 'https://info.cookpad.com/pr/news/press_2017_0928'
      」を担当。
      現在は、収益周りの改善に取り組むとともに、デザイナーやサービス開発の組織作りも務める。
      複数の職域・領域を横断し、常に人に寄り添ったものづくりを追求している。
      企業に勤める傍ら、ウェブやアプリケーションの制作、開発も行っている。

    %h3 CAREER
    %p.paragraph.text
      ・
      = link_to 'Cookpad Inc.', 'https://info.cookpad.com/'
      %span, UI/UX Designer
      %br
      ・
      = link_to 'Takram', 'https://www.takram.com/'
      %span, Product Desinger Internship(2015 - 2016)
      %br
      ・
      = link_to 'SHIMADZU', 'https://www.shimadzu.co.jp/'
      %span, Interface Design Internship(2015)
      %br
      ・
      = link_to 'SARAH inc.', ''
      %span, Desinger Internship(2014 - 2015)
      %br
      ・
      = link_to 'Honda R&D Co.', 'http://www.honda.co.jp/design/'
      %span,Ltd, Car Desinger Internship(2014)
      %br
      ・
      = link_to 'Cookpad Inc.', 'https://info.cookpad.com/'
      %span, 5-days Internship(2014)
      %br
      ・
      = link_to 'Yahoo Japan Corporation', 'https://about.yahoo.co.jp/'
      %span, 5-days Internship(2014)
      %br
      ・
      = link_to 'amadana corp.', 'http://www.amadana.com/'
      %span, Product Design Internship(2013)

    %h3 EDUCATION
    %p.paragraph.text
      ・Holistic Design based on Engineering at Hosei University (2012 - 2016)
      %br
      ・当時のポートフォリオ(2015年)は
      =link_to 'こちら', 'https://issuu.com/tsujitomoya/docs/2015_______________________________'

    %h3 Partners
    %p.paragraph.text
      ・株式会社HERP
      %br
      ・株式会社SARAH

    %h3 SPEAKER
    %p.paragraph.text
      ・
      = link_to 'IT業界でデザイナーとして働くってどんなこと？','https://linotice.tumblr.com/post/159708290264/20170418'
      %span (Feb.2017 )
      %br
      ・
      = link_to 'Cookpad TechConf 2018','https://techconf.cookpad.com/2018/'
      %span (Feb.2018 )
