---
title: tomoya-tsuji
---

.works_container
  %article
    .work_thumbnail
      = link_to 'works/cookpad_studio.html' do
        = image_tag 'cookpad_studio/cookpad_studio_top-thum.jpg'
    .work_text
      %h2
        cookpad studio
      .work_desc
        UI・BI Design & front-end dev

  %article
    .work_thumbnail
      = link_to 'works/sarah_inc.html' do
        = image_tag 'sarah_inc/main_thum.jpg'
    .work_text
      %h2
        sarah inc.
      .work_desc
        Corporate site Design for SARAH inc.

  %article
    .work_thumbnail
      = link_to 'works/mybest.html' do
        = image_tag 'mybest/mybest_main_thum.jpg'
    .work_text
      %h2
        mybest
      .work_desc
        mybest UI Design & front-end dev

  %article
    .work_thumbnail
      = link_to 'works/household_water_bag.html' do
        = image_tag 'water_bag/main_thum.jpg'
    .work_text
      %h2
        hosehold water bag
      .work_desc
        Product Design

  %article
    .work_thumbnail
      = link_to 'works/heatock.html' do
        = image_tag 'heatock/main_thum.jpg'
    .work_text
      %h2
        heatock
      .work_desc
        Product Design
